# Terraform state files
*.tfstate
*.tfstate.*

# Terraform crash log files
crash.log

# Terraform variables files
*.tfvars
*.tfvars.json

# Terraform lock file
.terraform.lock.hcl

# .terraform directory (local Terraform working directory)
.terraform/
